<tr>
  <td><%= image_tag image.time_limited_url(:mini) %></td>
  <td><%= image.name %></td>
  <td><%= image.taken_at %></td>
  <td>
    <%= link_to 'Show', image, class: 'btn btn-xs btn-default' %>
    <%= link_to 'Edit', edit_image_path(image), class: 'btn btn-xs btn-default' %>
    <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
  </td>
</tr>
