<h1><%= pluralize current_user.images.count, "Image" %></h1>

<%= link_to 'New Image', new_image_path, :class => 'btn btn-primary' %>
<%= link_to 'List', images_path, :class => 'btn btn-primary' %>
<%= link_to 'Tile', tile_images_path, :class => 'btn btn-primary' %>

<p>
<div id="map" style="width:640px; height:480px"> </div>
<script type="text/javascript">
  $(document).ready(function() {
    var mapOptions = {
      center: new google.maps.LatLng(0, 0),
      zoom: 1
    };
    var map = new google.maps.Map(document.getElementById("map"),
        mapOptions);
    <% @images.each do |image| %>
      <% if image.gps? %>
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(<%= image.latitude || 0 %>, <%= image.longitude || 0 %>),
            map: map
        });
      <% end %>
    <% end %>
  });
</script>
</p>
