<h1><%= pluralize current_user.images.count, "Image" %></h1>

<%= link_to 'New Image', new_image_path, :class => 'btn btn-primary' %>

<%= link_to 'Map', map_images_path, :class => 'btn btn-primary' %>
<%= link_to 'List', images_path, :class => 'btn btn-primary' %>

<div id="paginator">
  <%= paginate @images %>
</div>

<div id="images">
  <% @images.each do |image| %>
    <div class="col-lg-2 col-md-4 col-xs-6">
      <a href="<%= image_path(image) %>">
        <%= image_tag image.time_limited_url(:thumb) %>
      </a>
    </div>
  <% end %>
</div>
