<h1><%= pluralize current_user.images.count, "Image" %></h1>

<%= link_to 'New Image', new_image_path, :class => 'btn btn-primary' %>

<%= link_to 'Map', map_images_path, :class => 'btn btn-primary' %>
<%= link_to 'List', images_path, :class => 'btn btn-primary' %>

<div id="paginator">
  <%= paginate @images %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th><%= sortable "name" %></th>
      <th><%= sortable "taken_at" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="images">
    <% @images.in_groups_of(6).each do |images| %>
      <tr>
      <% images.compact.each do |image| %>
        <td>
          <a href="<%= image_path(image) %>">
            <%= image_tag image.time_limited_url(:thumb) %>
          </a>
        </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
